body::-webkit-scrollbar {
    display: none;
}

.statistics {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 3rem;
    animation: fadeInUp 1s ease forwards;
}

h1 span {
    font-size: 3.5rem;
    font-weight: 900;
}

textarea {
    font-size: 1.5rem;
    font-weight: 100;
    outline: none;
    width: 70vw;
    height: 50vh;
    line-height: 1.7rem;
    border: 1px solid var(--lighter-background);
    border-radius: 0.5rem;
    background: transparent;
    color: var(--text);
    padding: 1rem;
    vertical-align: top;
    resize: none;
    animation: fadeInUp 0.5s ease forwards;
}

textarea::placeholder {
    color: var(--lighter-background);
}

.stats {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    color: var(--background-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeInUp 0.2s ease forwards;
}

.stats button {
    width: 100%;
}

@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.sentiment-bar-container {
    width: 100%;
    /* margin-top: 1rem; */
    text-align: center;
    padding: 0;
}

.sentiment-bar-background {
    width: 100%;
    height: 1.5rem;
    background: linear-gradient(to right, var(--darker-background), var(--background), var(--lighter-background));
    border-radius: 2rem;
    position: relative;
    margin: 0.5rem 0;
}

#sentiment-indicator {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--background);
    border: 1px var(--lighter-background) solid;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* vertically center the dot */
    left: 49%; /* initial position */
    transition: left 0.5s ease;
}

.scale-labels {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: var(--background-text);
}

#sentiment-output {
    font-size: 1.5rem;
}

.content #chart-icon {
    font-size: 2rem;
    color: var(--background-text);
    cursor: pointer;
    margin-top: 5rem;
    transition: 0.3s color;
}

.content #chart-icon:hover {
    color: var(--text);
}

/* Cartesian coordinates chart */
#sentiment-chart {
    position: relative;
    width: 5rem;
    height: 5rem;
    background: var(--darker-background);
    border: 1px solid var(--lighter-background);
    border-radius: 0.5rem;
}

.axis {
    position: absolute;
    background: var(--lighter-background);
}

.axis.x {
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
}

.axis.y {
    width: 1px;
    height: 100%;
    left: 50%;
    top: 0;
}

.point {
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    background: var(--lighter-background);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* Chart styling */
.statistics #mood-chart {
    width: 80%;
}