{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Welcome to <span>Moodful</span></h1>
    <div class="content">
        <textarea name="text-area" id="text-area" placeholder="How do you feel?"></textarea>
        <div class="stats">
            <!-- <div id="sentiment-chart">
                <div class="axis x"></div>
                <div class="axis y"></div>
            </div> -->
            <!-- <div id="sentiment-output"><strong class="roboto">Mood: </strong><i class="roboto">Start typing...</i></div>
            <p class="roboto"><span id="char-count">0</span>/<span id="word-count">0</span></p> -->
            <button id="submit" class="submit roboto" onclick="analyzeText()">Submit</button>
        </div>
        <div class="sentiment-bar-container">
            <div class="sentiment-bar-background">
                <div id="sentiment-indicator"></div>
            </div>
            <!-- <div class="scale-labels">
                <span class="roboto">Negative</span>
                <span class="roboto">Neutral</span>
                <span class="roboto">Positive</span>
            </div> -->
        </div>
        <i class="fa fa-area-chart" id="chart-icon"></i>
    </div>
</div>
<div class="statistics">
    <h1>Charts</h1>
    <canvas id="mood-chart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Chart.js -->
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}